<p id="notice"><%= notice %></p>

<header>
  <h1>Welcome to Snippet</h1>
  <h2>An online marketplace for code snippet sharing</h2>
</header>

<div class="container">
  <% @categories.each do |category| %>
    <div class="thumbnail">
      <h3><%= link_to category.name, category %></h3>
    </div>
  <% end %>
</div>
