<a href="/categories">
  <div class="nav">
    <h3>Home</h3>
  </div>
</a>

<header class="category-title">
  <h1>Your Search Results</h1>
</header>

<% if @posts.present? %>
  <div class="post-container">
    <% @posts.each do |post| %>
      <a href="<%= "/posts/#{post.id}" %>">
      <div class="posting list">
        <h3><%= post.title %></h3>
        <p><%= post.description %></p>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="posting">
    <h2>Sorry, no matching search results!</h2>
  </div>
<% end %>