<div class="post-container title">
  <div class="posting">
    <h1><%= @post.title %></h1>
  </div>
</div>

<div class="post-container code">
  <div class="posting">
    <h3>This is where the code would go</h3>
  </div>
</div>

<div class="post-container details">
  <div class="posting">
    <h3><%= @post.description %></h1>
  </div>
</div>
