<div class="post-container title">
  <div class="posting">
    <h1><%= @post.title %></h1><br>
    <h2>Code</h2><hr>
    <pre>
    	<code class><%= @post.code %></code>
    </pre><br>
    <h2>Description</h2><hr>
    <p><%= @post.description %></p>
  </div>
</div>
