<a href="/categories">
	<div class="nav">
		<h3>Back</h3>
	</div>
</a>


<header class="category-title">
  <h1><%= @category.name %></h1>
</header>

	<div class="<post></post>-container">
	  <% @posts.each do |post| %>
		<a href="<%= "/posts/#{post.id}" %>">
	  <div class="posting">
	    <h3><%= post.title %></h3>
	    <p><%= post.description %></p>
	  </div>
	  <% end %>
	</div>
</a>
