<nav>
	<a href="/categories">Home</a>
	<a href="/posts/new">New Post</a>
</nav>


<header class="category-title">
  <h1><%= @category.name %></h1>
</header>

<% if @posts.present? %>
	<div class="post-container">
	  <% @posts.each do |post| %>
			<a href="<%= "/posts/#{post.id}" %>">
	  	<div class="posting list">
	    	<h3><%= post.title %></h3>
	    	<p><%= post.description %></p>
	  	</div>
  	<% end %>
  </div>
<% else %>
	<p>Sorry, there are no posts like that!</p>
<% end %>