// Import Google Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto);

// Font Variables
$roboto: 'Roboto';

header {
  width: 75%;
  margin: auto;
  border: 2px solid black;
  text-align: center;
  font-family: $roboto;
  h1 {
    font-size: 3em;
  };
  h2 {
    font-size: 2em;
  };
}

.container {
  padding-top: 5%;
  width: 75%;
  margin: auto;
  border: 2px solid black;
  .thumbnail {
  }
}
