// Import Google Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

// Font Variables
$roboto-slab: 'Roboto Slab', serif;

* {
  background-color: #00e6ac;
  color: white;
}

header {
  width: 100%;
  text-align: center;
  font-family: $roboto-slab;
}

table {
  width: 100%;
  text-align: center;
  tr {
    td {
      width: 25%;
      padding: 5%;
      .icon-wrapper {
        padding: 10%;
        border: 2px solid black;
        border-radius: 10px;
      }
    }
  }
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.5em;
}

a {
  text-decoration: none;
  font-family: $roboto-slab;
  &:hover {
    color: grey;
  }
}
