// Import Google Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

// Font Variables
$roboto-slab: 'Roboto Slab', serif;

// Custom CSS Animations
@keyframes fadein {
  0% { opacity: 0; }
  25% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes move {
  0% { opacity: 0; top: 250px; }
  25% { opacity: 1; top: 250px; }
  100% { top: 0px; }
}

// Main Styling
html {
  background-color: #4db8ff;
  color: white;
  // animation: fadein 2s;
}

.title {
  position: relative;
  animation: move 3s;
  width: 100%;
  text-align: center;
  font-family: $roboto-slab;
}

table {
  position: relative;
  animation: fadein 4s;
  width: 100%;
  text-align: center;
  tr {
    td {
      width: 25%;
      padding: 2%;
      .icon-wrapper {
        padding: 10%;
        background-color: #1aa3ff;
        border: 2px solid #1aa3ff;
        box-shadow: 1px 1px 1px #888888;
        transition: background-color 0.50s;
        &:hover {
          background-color: #4db8ff;
        }
      }
    }
  }
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.5em;
}

a {
  color: white;
  text-decoration: none;
  font-family: $roboto-slab;
}
