// Import Google Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

// Font Variables
$roboto-slab: 'Roboto Slab', serif;

// Custom CSS Animations
@keyframes appear {
  from { opacity: 0; }
  to { opacity: 1; }
}

// Main Styling
.category-title {
  position: relative;
  animation: appear 2s;
  width: 100%;
  text-align: center;
  font-family: $roboto-slab;
}

.post-container {
  animation: fadein 2s;
}

.posting {
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 2%;
  font-family: $roboto-slab;
  border-radius: 10px;
  transition: background-color 0.50s;
  &:hover {
    background-color: #1aa3ff;
  }
}

h3 {
  font-size: 1.5em;
}
